aiohttp==3.8.1
AppKit==0.2.8
astor==0.8.1
BeautifulSoup==3.2.2
beautifulsoup4==4.11.1
boto3==1.21.39
botocore==1.24.39
brotli==1.0.9
brotlicffi==1.0.9.2
cffi==1.15.0
cftime==1.6.0
ConfigParser==5.2.0
coverage==6.3.2
curio==1.5
cycler==0.11.0
Cython==0.29.28
dask==2022.4.0
dl==0.1.0
docutils==0.18.1
fastparquet==0.8.1
Foundation==0.1.0a0.dev1
fsspec==2022.3.0
genapi==0.0.8
HTMLParser==0.0.2
hypothesis==6.43.1
importlib_metadata==4.11.3
ipython==8.2.0
jedi==0.18.1
jnius==1.1.0
keyring==23.5.0
lockfile==0.12.2
MarkupSafe==2.1.1
matplotlib==3.5.1
mock==4.0.3
mtrand==0.1
mypy==0.942
nose==1.3.7
numarray==1.5.1
Numeric==24.2
numexpr==2.8.1
odfpy==1.4.1
openpyxl==3.0.9
ordereddict==1.1
pickle5==0.0.12
protobuf==3.20.0
psutil==5.9.0
psycopg2==2.9.3
pylint==2.13.5
pymysql==1.0.2
PyQt4==4.11.4
PyQt5==5.15.6
pytest==7.1.1
python_bcrypt==0.3.2
pyxlsb==1.0.9
qtpy==2.0.1
s3fs==2022.3.0
scikit_learn==1.0.2
scipy==1.8.0
sets==0.3.2
simplejson==3.17.6
SQLAlchemy==1.4.35
statsmodels==0.13.2
tables==3.7.0
tabulate==0.8.9
tokenize_rt==4.2.1
toml==0.10.2
tornado==6.1
traitlets==5.1.1
trustme==0.9.0
typed_ast==1.5.2
typing_extensions==4.1.1
unicodedata2==14.0.0
uvloop==0.16.0
win_inet_pton==1.1.0
xarray==2022.3.0
xlrd==2.0.1
xlsxwriter==3.0.3
xlwt==1.3.0
xmlrpclib==1.0.1
zipp==3.8.0
